/**************** 1. Main **************/
body {
    font-family: 'Open Sans', sans-serif;
    background: #e0e5e9;
    font-size: 13px;
    box-sizing: border-box;
    color: #4b5c66;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 5em;
    min-width: 300px;
}

body, main, section, div, h1, h2, h3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

p {
    margin-bottom: 3em;
}

main[role="main"] {
    width: 1200px;
    margin: 0 auto;
}

section {
    width: 100%;
    min-height: 60vh;
    position: relative;
}

section.product-info {
    min-height: 100vh;
}

h1 {
    font-size: 3.5em;
}


h1 > span {
    font-weight: normal;
    font-size: 50%;
    display: block;

}

h1, h2, h3, h4 {
    margin-bottom: 0;
}

h2.score {
    font-size: 4em;
    margin-top: 0;
}

h4 {
    margin: 0;
}

h3.group {
    font-size: 160%;
}

.one-half {
    width: 50%;
    padding: 10px;
    float: left;
}

.one-third {
    width: 33.3%;
    float: left;
    position: relative;
}

.two-third {
    width: 66.6%;
    float: left;
}

.float-fix:after, section:after, section.detailed-specs .spec-list:after, .review:after {
    content: '';
    display: block;
    clear: both;
}

.more-details {
    height: 25em;
}

section .section-title {
    height: 25em;
    position: relative;
}

section .section-title h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    line-height: 1em;
    margin: 20px;
}

section .section-title h2 span {
    font-weight: 700;
    display: block;
}
/********************************* 2.Icons ***************************/

@font-face {
    font-family: 'bestbay-icons';
    src: url('../fonts/bestbay-icons.eot?54fhw8');
    src: url('../fonts/bestbay-icons.eot?54fhw8#iefix') format('embedded-opentype'),
    url('../fonts/bestbay-icons.ttf?54fhw8') format('truetype'),
    url('../fonts/bestbay-icons.woff?54fhw8') format('woff'),
    url('../fonts/bestbay-icons.svg?54fhw8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bestbay-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
    content: "\e900";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-play:before {
    content: "\ea15";
}

.icon-arrow-d2:before {
    content: "\e901";
}

.icon-arrow-d:before {
    content: "\e902";
}

.icon-arrow-r:before {
    content: "\e903";
}

/*************************************** 3.Shared  Elements ************************/

.btn {
    font-size: 110%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    color: #4b5c66;
    padding: 0.7em 1em;
    text-decoration: none;
    line-height: 3em;
    position: relative;
}

.btn > i {
    font-size: 1.5em;
    position: relative;
    width: 0.7em;
    height: 1em;
    display: inline-block;
}

.btn > i::before {
    position: absolute;
    top: 0.2em;
}

.btn:hover {
    background: #efefef;
    text-decoration: none;
}
/************************** Round Button *******************/
.round-button {
    width: 7em;
    margin: 5em auto;

}

.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff;
    position: relative;
}

.round-button-circle span {
    font-size: 2.6em;
    display: block;
}

.round-button-circle span::before {
    position: absolute;
    top: 26%;
    left: 33%;
}

.round-button-circle:hover {
    background: #f4f4f4;
}

.round-button a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 65%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #4b5c66;
    text-decoration: none;
    font-size: 90%;
}

/*************************** Custom drop-down **************************/

.button {
    border: 1px solid #bbb;
    border-radius: .3em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    background: #f3f3f3; /* Old browsers */
    background: #fff -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: #fff -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: #fff -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: #fff -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: #fff linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
}

.custom-select {
    margin-top: 0.5em;
}

.custom-select select {
    line-height: 1.3;
    border-radius: .2em;
}

.custom-select::after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #666;
    margin-top: -3px;
}

.custom-select {
    border: 1px solid #bbb;
}

.custom-select.qty {

    display: inline-block;
    width: 55px;
}

.custom-select:hover {
    border-color: #888;
}

.custom-select select:focus {
    outline: none;
    box-shadow: 0 0 1px 3px rgba(180, 222, 250, 1);
    color: #222;
}
.custom-select option {
    font-weight: normal;
}

.custom-select {
    position: relative;
    display: block;
}

.custom-select select {
    width: 100%;
    margin: 0;
    outline: none;
    padding: 0.7em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

.custom-select::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 1em;
    z-index: 2;
    pointer-events: none;
    display: none;
}

@supports ( -webkit-appearance: none ) or ( appearance: none )
	or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {

    /* Show custom arrow */
    .custom-select::after {
        display: block;
    }

    /* Remove select styling */
    .custom-select select {
        padding-right: 2em;
        background: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .custom-select select:focus {
        border-color: #aaa;
    }
}
/***************** Start and marks Ranting ***************/
.star-rating {
    width: 100%;
}

.marks {
    width: 15em;
}

.marks > span {
    display: inline-block;
    width: 2.6em;
    position: relative;
    vertical-align: top;
}

.marks > span::after {
    position: absolute;
    width: 2.5em;
    height: 0.2em;
    background: #e0e5e9;
    content: " ";
    pointer-events: none;
    top: 5px;
}

.star-rating span {
    display: inline-block;
}

.star-rating.four span:nth-child(1),
.star-rating.four span:nth-child(2),
.star-rating.four span:nth-child(3),
.star-rating.four span:nth-child(4) {
    color: #6fce3c;
}

.marks.one > span:nth-child(1)::after {
    background: #6fce3c;
}

.marks.three > span:nth-child(1)::after,
.marks.three > span:nth-child(2)::after,
.marks.three > span:nth-child(3)::after {
    background: #6fce3c;
}

.marks.four > span:nth-child(1)::after,
.marks.four > span:nth-child(2)::after,
.marks.four > span:nth-child(3)::after,
.marks.four > span:nth-child(4)::after {
    background: #6fce3c;
}

.marks.five > span {
    background: #6fce3c;
}

/************************** 4. Product info section ***************************/
.product-info .product-name,
.product-info .product-card {
    float: right;
    padding-top: 0;
}

.product-info .product-card .price-box {
    width: 14em;
    text-align: right;
}

.product-info .product-card .cart-actions {
    margin-top: 1em;
}

.product-info .product-image {
    float: left;
    position: relative;
    text-align: right;
}

.product-info .product-image img {
    max-width: 100%;
    max-height: 90vh;
    min-height: 610px;
}

.product-info .protection-plan {
    background: #ffffff;
    padding: 20px;

}

.product-info .protection-plan .plans {
    font-size: 90%;

}

.product-info .protection-plan .cost {
    margin-left: 2em;
    color: #0087f2;
}

.product-info .protection-plan,
.product-info .product-description {
    max-width: 28em;
}

.product-info .product-description {
    margin-top: 2em;
}

.product-info .product-description p {
    margin-top: 0;
}

.product-info .add-to-cart .price {
    font-size: 1.4em;
    display: inline-block;
    float: left;
    margin-top: 0.6em;
}

/*************************** 5. Top Features Section ***************************/
.top-features .section-title {
    background-color: #ea167a;
}

.top-features .feature-links {
    position: relative;
    width: 100%;
}

.top-features .more-details {
    height: 18em;
}

.top-features .feature-links .chess-images {
    position: absolute;
    width: 100%;
}

.top-features .chess-images > a {
    width: 50%;
    float: left;
    clear: both;
    position: relative;
    text-align: center;
}

.top-features .chess-images > a img {
    max-width: 100%;
}

.top-features .chess-images .icon-play {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 4em;
}

.top-features .chess-images > a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.top-features .chess-images > a.right-image {
    float: right;
}

.top-features .image-overlay {
    position: absolute;
    bottom: -160px;
    right: -30px;
    z-index: 10;
}

/************************ 6. Detailed specs section ************************/

.detailed-specs .section-title {
    background-color: #ffd200;
}

.detailed-specs .image-with-size {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.detailed-specs .image-with-size img {
    max-width: 100%;
    margin: 0 auto;
}

.detailed-specs .spec-image-size {
    float: right;
}

.full-width {
    display: block;
    width: 100%;
    clear: both;
}

.read-more {
    padding: 10px;
}

section.detailed-specs .btn {
    background: #ffd200;
    color: #ffffff;
}

section.detailed-specs .btn:hover {
    background: #ffdd2e;
}

/***********************  7 .Reviews Section *******************************/

section.reviews .btn {
    background: #6fce3c;
    color: #ffffff;
}

section.reviews .btn:hover {
    background: #83ec45;
}

section.reviews .score-info {
    padding: 20px;
}

section.reviews .score-info p {
    margin-bottom: 1em;
}

section.detailed-specs div.round-button,
section.reviews div.round-button {
    margin-top: 8em;
}

section.reviews .review {
    padding: 10px 15px 10px 10px;
}

section.reviews .review h3 {
    margin-top: 0;
}

.review .two-third {
    padding-right: 20px;
}

.reviews .read-more {
    padding-left: 0;
}

.reviews .section-title {
    background-color: #6fce3c;
}

.reviews .review .one-third {
    background-color: transparent;
}

.reviews .review-list {
    padding: 15px;
}

.reviews .review-list h3 {
    font-size: 2em;
}

.reviews .review-list .author {
    font-size: 0.8em;
}

.reviews .mark-list {
    margin-top: 2.3em;
}

.reviews .review-list,
.top-features .feature-list,
.detailed-specs .spec-list {
    background-color: #ffffff;
    padding: 20px;
}

/************************ 8. Responsive *************************/

@media screen and (max-width: 1200px) {
    main[role="main"] {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .top-features > .one-third,
    .top-features > .two-third {
        width: 100%;
    }

    .top-features .row-title {
        display: table;
    }

    .top-features .section-title {
        width: 50%;
        display: table-cell;
        height: 0;
    }

    .top-features .feature-links {
        width: 50%;
        display: table-cell;
    }

    .top-features .feature-links .chess-images {
        position: relative;

    }

    .top-features .more-details {
        height: 0;
        position: relative;
    }

    .top-features .more-details div.round-button {
        position: absolute;
        top: 100%;
        right: 4em;
        margin-top: -10em;
    }

    .detailed-specs > .two-third,
    .detailed-specs > .one-third {
        width: 50%;
    }

    .reviews .review .two-third,
    .reviews .review .one-third {
        width: 100%;
        padding-right: 0;
    }

    .reviews .review .mark-list {
        margin-bottom: 3em;
        margin-top: 0;
    }

}

@media screen and (max-width: 760px) {
    .product-info .product-image img {
        min-height: inherit;
        max-height: inherit;
    }
    .top-features .more-details div.round-button {
        right: 5%;
    }
}

@media screen and (max-width: 680px) {
    .product-info .product-name,
    .product-info .product-image,
    .product-info .product-card {
        width: 100%;
        text-align: center;
    }
    
    .product-info .product-image img {
        max-width: 360px;
        padding-left: 10%;
    }

    .product-info .product-card .price-box {
        margin: 0 auto;
    }

    .product-info .protection-plan,
    .product-info .product-description {
        margin-left: auto;
        margin-right: auto;
    }

    .top-features .more-details div.round-button {
        right: 4%;
    }

    section.top-features .feature-list {
        padding-bottom: 280px;
    }

    .top-features .image-overlay {
        bottom: -60px;
        right: 16%;
    }

    .detailed-specs .spec-list .one-third,
    .detailed-specs .spec-list .two-third {
        width: 100%;
    }

    .detailed-specs .more-details,
    .detailed-specs .section-title {
        height: 18em;
    }

    .reviews .review-title,
    .reviews .more-details {
        width: 50%;
    }

    .reviews .section-title,
    .reviews .more-details {
        height: 18em;
    }

    section.reviews div.round-button {
        margin: 5em auto;
    }

    .reviews .score-info,
    .reviews .review-list {
        width: 100%;
        background: #ffffff;
    }

}

@media screen and (max-width: 620px) {
    .top-features .more-details div.round-button {
        margin-top: -9em;
    }
}

@media screen and (max-width: 560px) {
    .top-features .feature-links {
        display: block;
        width: 100%;

    }

    .top-features .feature-links .chess-images {
        float: none;
    }

    .top-features .more-details div.round-button {
        right: 15%;
        margin-top: -10em;
    }

    .top-features .row-title {
        display: block;
    }

    .top-features .section-title {
        width: 100%;
        display: block;
        height: 15em;
    }

    .detailed-specs .one-third,
    .detailed-specs .two-third {
        width: 100%;
    }

    .detailed-specs .one-half {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    .detailed-specs .read-more {
        text-align: center;
    }

    .detailed-specs .section-title {
        height: 25em;
    }

    .detailed-specs .section-title h2 {
        bottom: 2em;
    }

    .detailed-specs .more-details {
        position: absolute;
        z-index: 10;
        height: 6em;
        top: 17em;
    }

    section.detailed-specs div.round-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    .reviews .review-title, .reviews .more-details {
        width: 100%;
    }

    .reviews .section-title {
        height: 25em;
    }

    .reviews .section-title h2 {
        bottom: 2em;
    }

    .reviews .more-details {
        height: 6em;
        position: absolute;
        top: 17em;
        z-index: 10;
    }

    section.reviews div.round-button {
        margin: 0 auto;
    }

    .reviews .score-info {
        background: transparent;
    }
}

@media screen and (max-width: 480px) {
    .product-info .product-image img {
        max-width: 280px;
        padding-left: 5%;
    }
    .top-features .more-details div.round-button {
        right: 12%;
    }

    section.top-features .feature-list .one-half {
        width: 100%;
    }

    .top-features .image-overlay {
        bottom: -60px;
        right: auto;
        left: 2%;
        max-width: 96%;
    }

    body {
        overflow-x: visible;

    }
}

@media screen and (max-width: 380px) {
    .product-info .product-image img {
        max-width: 240px;
    }
}
